/* Tabs and Accordions */
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
}

.accordion {
	margin-bottom: 1em;
}
.accordion.js, .tabs.js {
	clear: both;
	width: 100%;
}
.accordion.js .toggle {
	display: none;
	visibility: hidden;
}
.accordion.multi.js .toggle.sr-only {
	display: block;
	visibility: visible;
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
}
.accordion.js button.toggle, .accordion.js .tablist .toggle {
	display: block;
	border: 0 none;
	visibility: visible;
	text-align: left;
}
.accordion.always.js > button.toggle, .tabs.js > button.toggle {
	width: 100%;
	padding: 0.5em 1.75em 0.5em 0.5em;
	box-sizing: border-box;
	background: #e1e1e1;
	color: #222;
	font-size: 110%;
	margin: 0 0 1px;
	cursor: pointer;
	transition: background .25s ease-in-out, color .25s ease-in-out;
	position: relative;
}
.accordion.always.js > button.toggle::before, .tabs.js > button.toggle::before {
	content: "";
	position: absolute;
	right: .5em;
	top: 50%;
	height: 2px;
	width: .75em;
	background: #222;
	transition: background .25s ease-in-out, color .25s ease-in-out/*, transform .25s ease-in-out*/;
}
.accordion.always.js > button.toggle::after, .tabs.js > button.toggle::after {
	content: "";
	position: absolute;
	right: .5em;
	top: 50%;
	height: 2px;
	width: .75em;
	background: #222;
	transition: background .25s ease-in-out, color .25s ease-in-out/*, transform .25s ease-in-out*/;
	transform: rotate(90deg);
}
.accordion.always.js button.toggle[aria-selected=true]::after, .tabs.js button.toggle[aria-selected=true]::after {
	transform: rotate(180deg);
}
.accordion.always.js > button.toggle:hover, .tabs.js > button.toggle:hover,
.accordion.always.js > button.toggle:focus, .tabs.js > button.toggle:focus {
	background: #444;
	color: #fff;
}
.accordion.always.js button.toggle:hover::before, .tabs.js button.toggle:hover::before,
.accordion.always.js button.toggle:focus::before, .tabs.js button.toggle:focus::before,
.accordion.always.js button.toggle:hover::after, .tabs.js button.toggle:hover::after,
.accordion.always.js button.toggle:focus::after, .tabs.js button.toggle:focus::after {
	background: #e1e1e1;
}
.accordion.always.js > .content, .tabs.js > .content {
	clear: both;
	width: 100%;
	box-sizing: border-box;
}
.accordion > .content > * {
	max-width: 100%;
}
.accordion.js > [aria-hidden=true] {
	display: block;
	max-height: 0;
	opacity: 0;
	visibility: hidden;
	margin: 0;
	padding: 0;
	overflow: hidden;
	transition: height 1s ease-in-out, opacity .5s ease-in-out;
}
.accordion.js > [aria-hidden=true] > * {
	opacity: 0;
}
/* needed to remove tabbing to hidden elements */
.accordion.js > [aria-hidden=true] .tabs.js .tablist button.toggle,
.accordion.js > [aria-hidden=true] button,
.accordion.js > [aria-hidden=true] input,
.accordion.js > [aria-hidden=true] textarea,
.accordion.js > [aria-hidden=true] select,
.accordion.js > [aria-hidden=true] iframe,
.accordion.js > [aria-hidden=true] a {
	display: none;
}
.accordion.js > [aria-hidden=false] {
	display: block;
	opacity: 1;
	max-height: 1000em;
	visibility: visible;
	margin: -1px 0 0;
	border: 1px solid #ccc;
	padding: .5em;
	transition: max-height 1s ease-in-out, opacity .5s ease-in-out;
}
.accordion.js > [aria-hidden=false]  > * {
	opacity: 1;
}


/* small-only accordion */
.accordion.small-only.js > button.toggle {
	width: 100%;
	padding: .5em;
	box-sizing: border-box;
	background: #e1e1e1;
	color: #222;
	letter-spacing: -.5px;
	font-size: 110%;
	margin: 0 0 1px;
	cursor: pointer;
	transition: background .25s ease-in-out, color .25s ease-in-out;
	position: relative;
}
.accordion.small-only.js > button.toggle::before {
	content: "";
	position: absolute;
	right: .5em;
	top: 50%;
	height: 2px;
	width: .75em;
	background: #222;
	transition: background .25s ease-in-out, color .25s ease-in-out;
}
.accordion.small-only.js button.toggle::after {
	content: "";
	position: absolute;
	right: .5em;
	top: 50%;
	height: 2px;
	width: .75em;
	background: #222;
	transition: background .25s ease-in-out, color .25s ease-in-out;
	transform: rotate(90deg);
}
.accordion.small-only.js button.toggle[aria-selected=true]::after {
	display: none;
}
.accordion.small-only.js > button.toggle:hover,
.accordion.small-only.js > button.toggle:focus {
	background: #444;
	color: #fff;
}
.accordion.small-only.js button.toggle:hover::before,
.accordion.small-only.js button.toggle:focus::before,
.accordion.small-only.js button.toggle:hover::after,
.accordion.small-only.js button.toggle:focus::after {
	background: #e1e1e1;
}
.accordion.small-only.js > .content {
	clear: both;
	width: 100%;
	box-sizing: border-box;
}



/* large */
@media only screen and (min-width: 700px) {
	.tabs.js .tablist {
		list-style: none;
		/*text-align: center;*/
		margin: 0 0 -1px;
		padding: 0;
		z-index:1;
		position: relative;
	}
	.tabs.js .tablist li {
		display: inline;
	}
	.tabs.js .tablist button.toggle {
		/*margin: 0 5px;*/
		margin: 0 5px 0 0;
		display: inline-block;
		letter-spacing: -.5px;
		font-size: 110%;
		padding: .5em;
		background: #e1e1e1;
		color: #222;
		border: 1px solid #ccc;
		border-bottom: 0 none;
		transition: background .25s ease-in-out, color .25s ease-in-out;
		cursor: pointer;
	}
	.tabs.js .tablist button.toggle[aria-selected=true] {
		background: #fff;
		border-bottom: 1px solid #fff;
		cursor: text;
	}
	.tabs.js > .tablist button.toggle[aria-selected=true]:hover {
		background: #fff;
		color: #222;
	}
	.tabs.js > button.toggle::before, .tabs.js > button.toggle::after {
		display: none;
	}
	.tabs.js > .tablist button.toggle:hover {
		background: #444;
		color: #fff;
	}
	.tabs.js > .tablist button.toggle:focus {
		background: #fff;
		color: #222;
	}
	.tabs.js > [aria-hidden=false] {
		transition: none;
		margin: 0;
	}
	.tabs.js > [aria-hidden=false] > * {
		transition: opacity .5s ease-in-out;
	}
	.accordion.small-only > .toggle {
		display: block;
		visibility: visible;
	}
	.accordion.small-only > button.toggle {
		display: none;
	}
	.accordion.js.small-only > .content {
		display: block;
		overflow: hidden;
		opacity: 1;
		transition: visibility .5s ease-in-out, max-height .5s ease-in-out, opacity .5s ease-in-out;
		max-height: 100em;
		visibility: visible;
		margin: 0;
		padding: 0;
	}
}


@media print {
	.accordion {
		margin: 0 !important;
	}
	.accordion .content, .accordion .toggle {
		display: block !important;
		visibility: visible !important;
		opacity: 1 !important;
		max-height: 100000em !important;
		border: 0 none !important;
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	.accordion.js [aria-hidden=true] button,
	.accordion.js [aria-hidden=true] input,
	.accordion.js [aria-hidden=true] textarea,
	.accordion.js [aria-hidden=true] select,
	.accordion.js [aria-hidden=true] iframe,
	.accordion.js [aria-hidden=true] a {
		display: inline-block !important;
	}
	.accordion > .content > * {
		opacity: 1 !important;
	}
	.accordion .tablist, .accordion button.toggle, .accordion.js button.toggle, .accordion.multi button.toggle {
		display: none !important;
		visibility: hidden !important;
	}
	.accordion.multi.js .toggle.sr-only {
		position: static !important;
		width: auto !important;
		height: auto !important;
		padding: inherit !important;
		margin: inherit !important;
		clip: none !important;
		border: inherit !important;
	}
}