/* Tabs and Accordions */
.accordion.js, .tabs.js {
	clear: both;
	width: 100%;
	margin-bottom: 1em;
}
.accordion:before,
.accordion:after {
  content: "";
  display: table;
} 
.accordion:after {
  clear: both;
}
.accordion > .listitem {
	float: left;
	width: 100%;
	clear: both;
	box-sizing: border-box;
}
.accordion.js > .listitem > .toggle {
	font-size: 100%;
}
.accordion.multi.js > .listitem > .toggle {
	margin: 0;
}
.accordion.js > .toggle button.toggle, .accordion.js .tablist .toggle {
	display: block;
	border: 0 none;
	text-align: left;
}
.accordion.js .toggle .heading {
	display: none;
}
.accordion.always.js > .listitem > .toggle {
	margin: 0;
}
.accordion.always.js > .listitem > .toggle > button.toggle, .accordion.multi.js > .listitem > .toggle > button.toggle, .accordion.tabs.js > .listitem > .toggle > button.toggle {
	width: 100%;
	padding: 0.5em 1.75em 0.5em 0.5em;
	box-sizing: border-box;
	background: #e1e1e1;
	font-size: 100%;
	color: #222;
	margin: 0;
	cursor: pointer;
	transition: background .25s ease-in-out, color .25s ease-in-out;
	position: relative;
	text-align: left;
	border: 0 none;
}
.accordion.multi.js > .listitem > .toggle > button.toggle {
	font-size: 100%;
}
.accordion.always.js > .listitem > .toggle > button.toggle::before, .accordion.multi.js > .listitem > .toggle > button.toggle::before, .accordion.tabs.js > .listitem > .toggle > button.toggle::before {
	content: "";
	position: absolute;
	right: .5em;
	top: 50%;
	height: 2px;
	width: .75em;
	background: #222;
	transition: background .25s ease-in-out, color .25s ease-in-out/*, transform .25s ease-in-out*/;
}
.accordion.always.js > .listitem > .toggle > button.toggle::after, .accordion.multi.js > .listitem > .toggle > button.toggle::after, .accordion.tabs.js > .listitem > .toggle > button.toggle::after {
	content: "";
	position: absolute;
	right: .5em;
	top: 50%;
	height: 2px;
	width: .75em;
	background: #222;
	transition: background .25s ease-in-out, color .25s ease-in-out/*, transform .25s ease-in-out*/;
	transform: rotate(90deg);
}
/*
.accordion.js > .listitem > .toggle > button.toggle[aria-expanded=false] {
	margin-bottom: 1px;
}
*/
.accordion.always.js > .listitem > .toggle > button.toggle[aria-expanded=true]::after, .accordion.tabs.js > .listitem > .toggle > button.toggle[aria-expanded=true]::after {
	transform: rotate(180deg);
}
.accordion.always.js > .listitem > .toggle > button.toggle:hover, .accordion.tabs.js > .listitem > .toggle > button.toggle:hover,
.accordion.always.js > .listitem > .toggle > button.toggle:focus, .accordion.tabs.js > .listitem > .toggle > button.toggle:focus,
.accordion.multi.js > .listitem > .toggle > button.toggle:hover, .accordion.multi.js > .listitem > .toggle > button.toggle:focus {
	background: #444;
	color: #fff;
}
.accordion.always.js > .listitem > .toggle > button.toggle:hover::before, .accordion.tabs.js > .listitem > .toggle > button.toggle:hover::before,
.accordion.always.js > .listitem > .toggle > button.toggle:focus::before, .accordion.tabs.js > .listitem > .toggle > button.toggle:focus::before,
.accordion.always.js > .listitem > .toggle > button.toggle:hover::after, .accordion.tabs.js > .listitem > .toggle > button.toggle:hover::after,
.accordion.always.js > .listitem > .toggle > button.toggle:focus::after, .accordion.tabs.js > .listitem > .toggle > button.toggle:focus::after,
.accordion.multi.js > .listitem > .toggle > button.toggle:hover::before, .accordion.multi.js > .listitem > .toggle > button.toggle:focus::before,
.accordion.multi.js > .listitem > .toggle > button.toggle:hover::after, .accordion.multi.js > .listitem > .toggle > button.toggle:focus::after {
	background: #e1e1e1;
}
.accordion.always.js > .listitem > .content, .accordion.tabs.js > .listitem > .content {
	clear: both;
	width: 100%;
	box-sizing: border-box;
	float: left;
	margin: 0;
	border: 1px solid #ccc;
}
.accordion .content > * {
	max-width: 100%;
}


/* small-only accordion */
.accordion.small-only > .listitem > .toggle > button.toggle, .accordion.small-only.js > .listitem > .toggle > .heading {
	display: none;
}
.accordion.small-only > .listitem > .toggle > .heading {
	display: block;
}
.accordion.small-only.js > .listitem > .toggle, .accordion.tabs.js > .listitem > .toggle {
	margin: 0;
}
.accordion.small-only.js > .listitem > .toggle > button.toggle {
	width: 100%;
	padding: .5em;
	box-sizing: border-box;
	background: #e1e1e1;
	color: #222;
	letter-spacing: -.5px;
	font-size: 100%;
	margin: 0;
	cursor: pointer;
	transition: background .25s ease-in-out, color .25s ease-in-out;
	position: relative;
	display: block;
	border: 0 none;
	text-align: left;
}
.accordion.small-only.js > .listitem > .toggle > button.toggle::before {
	content: "";
	position: absolute;
	right: .5em;
	top: 50%;
	height: 2px;
	width: .75em;
	background: #222;
	transition: background .25s ease-in-out, color .25s ease-in-out;
}
.accordion.small-only.js > .listitem > .toggle > button.toggle::after {
	content: "";
	position: absolute;
	right: .5em;
	top: 50%;
	height: 2px;
	width: .75em;
	background: #222;
	transition: background .25s ease-in-out, color .25s ease-in-out;
	transform: rotate(90deg);
}
.accordion.small-only.js > .listitem > .toggle > button.toggle[aria-expanded=true]::after {
	display: none;
}
.accordion.small-only.js > .listitem > .toggle > button.toggle:hover,
.accordion.small-only.js > .listitem > .toggle > button.toggle:focus {
	background: #444;
	color: #fff;
}
.accordion.small-only.js > .listitem > .toggle > button.toggle:hover::before,
.accordion.small-only.js > .listitem > .toggle > button.toggle:focus::before,
.accordion.small-only.js > .listitem > .toggle > button.toggle:hover::after,
.accordion.small-only.js > .listitem > .toggle > button.toggle:focus::after {
	background: #e1e1e1;
}
.accordion.small-only.js > .listitem > .content {
	clear: both;
	width: 100%;
	box-sizing: border-box;
	float: left;
	margin: 0;
	border: 1px solid #ccc;
}
.accordion.small-only > .listitem > .content > .padding {
	padding: 0;
}
.accordion.js > .listitem > .content > .padding {
	padding: .5em;
}




/* large */
@media only screen and (min-width: 1000px) {
	.tabs.js > .tablist {
		list-style: none;
		/*text-align: center;*/
		margin: 0 0 -1px;
		padding: 0;
		z-index:1;
		position: relative;
	}
	.tabs.js > .tablist > li {
		display: inline;
	}
	.tabs.js > .tablist > li > button.toggle {
		/*margin: 0 5px;*/
		margin: 0 5px 0 0;
		display: inline-block;
		letter-spacing: -.5px;
		font-size: 100%;
		padding: .5em;
		background: #e1e1e1;
		color: #222;
		border: 1px solid #ccc;
		border-bottom: 0 none;
		transition: background .25s ease-in-out, color .25s ease-in-out;
		cursor: pointer;
	}
	.tabs.js > .tablist > li > button.toggle[aria-expanded=true] {
		background: #fff;
		border-bottom: 1px solid #fff;
		cursor: text;
	}
	.tabs.js > .tablist > li > button.toggle[aria-expanded=true]:hover {
		background: #fff;
		color: #222;
	}
	.tabs.js > .tablist button.toggle:hover {
		background: #444;
		color: #fff;
	}
	.tabs.js > .tablist button.toggle:focus {
		background: #fff;
		color: #222;
	}
	.accordion.small-only > .toggle {
		display: block;
	}
	.accordion.small-only > button.toggle {
		display: none;
	}
	.accordion.js.small-only > .content {
		display: block;
		overflow: hidden;
		margin: 0;
		padding: 0;
	}
}


/* print */
@media print {
	.accordion > .listitem > .content, .accordion > .listitem > .content > .padding {
		display: block !important;
		border: 0 none !important;
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	.accordion.tabs > .tablist, .accordion > .listitem > .toggle > button.toggle, .accordion.tabs > .listitem > .toggle > button.toggle {
		display: none !important;
	}
	.accordion > .listitem > .toggle > .heading, .accordion.tabs > .listitem > .toggle, .accordion.tabs > .listitem > .toggle > .heading {
		display: block !important;
	}
}
